@page
@model PopularBookstore.Pages.CartModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>The contents of your shopping cart will be displayed here.</p>
    <p><a asp-page="/Index">Continue Shopping</a></p>
</div>