@page
@model PopularBookstore.Pages.OrderHistoryModel
@{
    ViewData["Title"] = "Order History";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>A list of past orders will be displayed here.</p>
    <p><a asp-page="/Index">Back to Homepage</a></p>
</div>