@page
@model PopularBookstore.Pages.OrderHistoryModel
@{
    ViewData["Title"] = "Profile";
}

<partial name="_Header" />


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>User profile information and settings will be managed here.</p>
    <p><a asp-page="/Index">Back to Homepage</a></p>
</div>