@page
@model PopularBookstore.Pages.OrderHistoryModel
@{
    ViewData["Title"] = "Promotions";
}

<partial name="_Header" />



<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Check back another day for promotions!.</p>
    <p><a asp-page="/Index">Back to Homepage</a></p>
</div>