@page
@model PopularBookstore.Pages.OrderHistoryModel
@{
    ViewData["Title"] = "Settings";
}

<partial name="_Header" />


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Application or user-specific settings will be configured here.</p>
    <p><a asp-page="/Index">Back to Homepage</a></p>
</div>
